<!DOCTYPE html>
<html>
  <body style="background-color:IndianRed;">

    <p><%= link_to "Shelter Index", "/shelters" %></p>
    <p><%= link_to "Pet Index", "/pets" %></p>

    <h1><%="Adopt don't Shop"%></h1>
